<div class=""><div class="aHl"></div><div id=":1rv" tabindex="-1"></div><div id=":16l" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0."><div id=":16k" class="a3s aiL "><u></u>
  <div>
    <table>
      <tbody><tr>
        <td align="center" valign="top">
          <center>
            <table>
              <tbody><tr>
                <td align="center">
                  <center>

                  </center>
                </td>
              </tr>
              </tbody></table>
            <table>
              <tbody><tr>
                <td> <img src="https://ci4.googleusercontent.com/proxy/tT4RJ-qrFaFjsXqVgCpenCvC87XSpqdCw4SYsaezQ67H6B_X5qYCW9_k8fIR3cExNNKVfzMVdI2BPfWh4lQ=s0-d-e1-ft#https://www.zupimages.net/up/21/22/czbz.jpg" width="750px" height="250px" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 707.2px; top: 221.4px;"><div id=":1t8" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Télécharger la pièce jointe " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB" data-tooltip-class="a1V" data-tooltip="Télécharger"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div></td>
                <td></td>
              </tr>

              <tr>
                <td>
                  <table>
                    <tbody><tr>
                      <td>
                        <table>
                          <tbody><tr>
                            <td>
                              <div style="border-left-width:1px;border-left-style:solid;border-left-color:transparent;padding-bottom:20px;padding-left:4px;color:rgb(34,34,34);font-family:arial,sans-serif;font-size:medium;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(255,255,255)">
                                <div style="margin-left:30px">
                                  <div id="m_7199533606535136818:17y" style="font-size:13px;direction:ltr;margin:5px 15px 0px 0px;padding-bottom:5px">
                                    <div id="m_7199533606535136818:17x" style="overflow:hidden">
                                      <div dir="ltr">
                                        <p class="MsoNormal" style="margin:0px;color:rgb(34,34,34);font-family:arial,sans-serif;font-size:13px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(255,255,255)">
                                          &nbsp;
                                        </p>
                                        <div style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:13px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;border-style:none none solid;border-bottom-color:rgb(79,129,189);border-bottom-width:1pt;padding:0cm 0cm 4pt;background-color:rgb(255,255,255)">
                                          <h1 align="center" style="text-align:center">
                                            ADMISSION &amp;
                                            MODALITES D’INSCRIPTION
                                          </h1>
                                          <p align="center" style="text-align:center;color:navy">
                                            <strong>&nbsp;&nbsp; &nbsp; </strong>
                                          </p>
                                        </div>
                                        <p class="MsoNormal">
																					<span style="font-size:10.0pt;line-height:107%;font-family:&quot;Arial&quot;,sans-serif;color:#222222">
																						Nous avons le plaisir de vous informer que vous avez été admis à ESPRIT.<u></u><u></u>
																					</span>
                                        </p>
                                        <p class="MsoNormal">
																					<span style="font-size:10.0pt;line-height:107%;font-family:&quot;Arial&quot;,sans-serif;color:#222222">
																						Nous vous indiquons ci-après la procédure à suivre pour confirmer votre inscription :<u></u><u></u>
																					</span>
                                        </p>
                                        <p class="MsoNormal">
                                          <span style="font-size:10.0pt;line-height:107%;font-family:&quot;Arial&quot;,sans-serif;color:#222222">&nbsp;<u></u><u></u></span>
                                        </p>
                                        <p>
                                          <b>
                                            <span style="font-size:14.0pt;font-family:&quot;Arial&quot;,sans-serif">1-</span><span style="font-size:14.0pt">&nbsp;</span><span style="font-size:14.0pt;font-family:&quot;Arial&quot;,sans-serif">Régler les frais de scolarité :<u></u><u></u></span>
                                          </b>
                                        </p>
                                        <br>
                                        <p>
																					<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">
																						<u></u>
																							<span style="font-size:10.0pt;line-height:107%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#222222;background:white">
																								<b> <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">a. Montant :</span></b>  <br><br> Les frais de scolarité s'élèvent à 7700 Dinars par an dont 7% de TVA. Ils sont payables en deux tranches.
																							</span>
																						<u></u>
																					</span>
                                        </p>
                                        <br>
                                        <p>
                                          <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif"><b>b. Échéancier :</b><u></u><u></u></span><br>
                                        </p>
                                        <p class="MsoNormal">
                                          <span style="font-size:7.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#222222">&nbsp;&nbsp;</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#222222;background:white">       - Une  1 </span><sup>
                                          <span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#222222;background:white">ère</span>
                                        </sup><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#222222;background:white">
																						&nbsp;tranche&nbsp;de 3850 DT
																						<b style="font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;letter-spacing:normal;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(255,255,255);text-decoration-style:initial;text-decoration-color:initial;color:rgb(56,118,29);font-family:Arial,sans-serif;font-size:13.3333px;text-align:start">
																							payable avant le 23/08/2021 de suite et exigée à l’inscription,
																						</b>
																					</span><span style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#222222"><u></u><u></u></span>
                                        </p>
                                        <p class="MsoNormal">
                                          <span style="font-size:7.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#222222">&nbsp;&nbsp;&nbsp;<span style="background:white">&nbsp;</span></span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#222222;background:white">
																						- Une 2<sup>ème</sup>&nbsp;tranche de 3850 DT payable avant le 15 janvier 2022.
																					</span><span style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#222222"><u></u><u></u></span>
                                        </p>
                                        <p>
																					<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">
																						<b>c. Moyens de Paiements :</b> <u></u><u></u>
																					</span>
                                        </p>

                                        <p class="MsoNormal">
                                          <span style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#222222"><u></u><u></u></span>
                                        </p>
                                        <p class="MsoNormal">

																					<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#222222">
																						- Paiement par carte bancaire via le lien


																						<a href="https://esprit-tn.com/ESPOnline/Online/Login.aspx" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://esprit-tn.com/ESPOnline/Online/Login.aspx&amp;source=gmail&amp;ust=1678215390304000&amp;usg=AOvVaw0MBxCnpO-SgEobdNxr1u3R">
																						<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">
																							https://esprit-tn.com/<wbr>ESPOnline/Online/Login.aspx
																						</span>
																						</a>
																					</span>



                                        </p>

                                        <p class="MsoNormal">
																					<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#222222">
																						- Versement d'espèces en Banque : cette opération pourrait être effectué auprès de toutes les agences AMEN BANK en se présentant muni de cette lettre et en indiquant votre nom et votre identifiant E 213JMT8462 sur l'ordre de versement




																					</span><span style="font-size:10.5pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#222222"><u></u><u></u></span>
                                        </p>
                                        <p class="MsoNormal">
                                          - Paiement par chèque bancaire ou postal à déposer auprès du service financier de l’école.



                                        </p>



                                        <p class="MsoNormal">
                                          <b>
																						<span lang="EN-CA" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#222222;background:white">
																							<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
																						</span>
                                          </b>
                                        </p>

                                        <p>
                                          <b>
                                            <u>
																							<span style="font-size:14.0pt;font-family:&quot;Arial&quot;,sans-serif;background:white;color:darkviolet">

																								NB : Il faut prendre soin d'indiquer le nom et l'identifiant E213JMT8462  sur l'ordre de versement.

																							</span><span style="font-size:14.0pt;font-family:&quot;Arial&quot;,sans-serif;color:red;background:white">
																							</span>
                                              <span style="font-size:14.0pt;font-family:&quot;Arial&quot;,sans-serif;background:white">

																							</span>
                                            </u>
                                          </b><u>
                                          <span style="font-size:14.0pt;font-family:&quot;Arial&quot;,sans-serif"><u></u><u></u></span>
                                        </u>
                                        </p>
                                        <p>
                                          <b>
																						<span style="font-size:14.0pt;font-family:&quot;Arial&quot;,sans-serif">
																							2-Informations d'inscription à renseigner:<u></u><u></u>
																						</span>
                                          </b>
                                        </p>
                                        <p><b><u>Etape 1:</u></b></p>
                                        <p>
																					<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">
																						Accéder à votre compte (via votre ordinateur) via le lien
																					</span>
                                          <a href="http://depot.esprit-tn.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://depot.esprit-tn.com&amp;source=gmail&amp;ust=1678215390304000&amp;usg=AOvVaw3YiQ0KR9OSbfhiDNucIPPw">
                                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">depot.esprit-tn.com</span>
                                          </a><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">
																						&nbsp; pour déposer votre dossier en ligne en utilisant les données sous mentionnées :<u></u><u></u>
																					</span>
                                        </p>
                                        <p>
																					<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">
																						Identifiant :<span>&nbsp;</span>
																					</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:red">
																						<span>
																							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																							213JMT8462&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																						</span>
																					</span>
                                        </p>
                                        <p>
                                          <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">Votre mot de passe :&nbsp;&nbsp;</span><span>
																						<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:red">&nbsp;</span>
																					</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:red"></span><span><u></u>11137946<u></u></span>
                                        </p>



                                        <br>
                                        <hr>

                                        <p><b><u>Etape 2:  </u></b></p>


                                        <p class="MsoNormal">
                                          <u></u>
                                          <span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">
																						<span>
																							1.<span style="font:7.0pt &quot;Times New Roman&quot;">
																								&nbsp;&nbsp;&nbsp;&nbsp;
																							</span>
																						</span>
																					</span><u></u>
                                          <span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">
																						Compléter les informations manquantes en utilisant ce lien <a href="https://esprit-tn.com/admission/ACCES_CONF.aspx" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://esprit-tn.com/admission/ACCES_CONF.aspx&amp;source=gmail&amp;ust=1678215390304000&amp;usg=AOvVaw0xCadW2i6PbbUJdbNeJfg8">
																							<span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">https://esprit-tn.com/<wbr>admission/ACCES_CONF.aspx</span>
																						</a><u></u> .(avec les mêmes paramètres d'accès ci dessus)<u></u>
																					</span>
                                        </p>
                                        <p class="MsoNormal">
                                          <u></u>
                                          <span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">
																						<span>
																							2.<span style="font:7.0pt &quot;Times New Roman&quot;">
																								&nbsp;&nbsp;&nbsp;&nbsp;
																							</span>
																						</span>
																					</span><u></u>
                                          <span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">Lire et accepter le règlement de scolarité</span><a href="https://esprit.tn/formation/esprit-ingenieur/reglement-scolaire" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://esprit.tn/formation/esprit-ingenieur/reglement-scolaire&amp;source=gmail&amp;ust=1678215390304000&amp;usg=AOvVaw28Vs69x8PDolQSRly9hu-n">
                                          <span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif">https://esprit.tn/formation/<wbr>esprit-ingenieur/reglement-<wbr>scolaire</span>
                                        </a><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">
																						<u></u><u></u>
																					</span>
                                        </p>
                                        <p class="MsoNormal">
                                          <u></u>
                                          <span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">
																						<span>
																							3.<span style="font:7.0pt &quot;Times New Roman&quot;">
																								&nbsp;&nbsp;&nbsp;&nbsp;
																							</span>
																						</span>
																					</span><u></u>
                                          <span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">Confirmer le tout en enregistrant vos informations (bouton<b>"enregistrer"</b>)<u></u><u></u></span>
                                        </p>
                                        <p class="MsoNormal">
                                          <u></u>
                                          <span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#222222">

																					</span><u></u>

                                        </p>
                                        <p><b>Bonne Réception</b></p>

                                        <p><b>NB : Sauf cas de force majeur, l’annulation de l’inscription ne donne pas droit au remboursement  des frais d'inscription.</b></p>
                                        <p class="MsoNormal">
                                          <em>
																						<span style="font-size:10.0pt;line-height:107%;font-family:&quot;Arial&quot;,sans-serif;color:#222222">
																							<span>&nbsp;</span>Ceci est un mail
																							automatique Merci de ne pas répondre.
																						</span>
                                          </em><span style="font-size:10.0pt;line-height:107%;font-family:&quot;Arial&quot;,sans-serif;color:#222222"><u></u><u></u></span>
                                        </p>
                                        <p class="MsoNormal">
                                          <span style="font-size:10.0pt;line-height:107%;font-family:&quot;Arial&quot;,sans-serif;color:#222222">&nbsp;</span><u></u><u></u>
                                        </p>
                                        <p class="MsoNormal">
                                          <u></u>&nbsp;<u></u>
                                        </p>
                                        <p class="MsoNormal">
                                        </p>
                                        <p class="MsoNormal" style="margin:0px;color:rgb(34,34,34);font-family:arial,sans-serif;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;font-size:13px;background-color:rgb(255,255,255)">
                                          &nbsp;
                                        </p>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </td>
                            <td></td>
                          </tr>
                          </tbody></table>
                      </td>
                    </tr>
                    </tbody></table>
                  <table></table>
                  <table></table>

                </td>
              </tr>
              </tbody></table>
          </center>
        </td>
      </tr>
      </tbody></table><div class="yj6qo"></div><div class="adL">
  </div></div><div class="adL">

  </div></div></div><div id=":1rl" class="ii gt" style="display:none"><div id=":1rk" class="a3s aiL "></div></div><div class="hi"></div></div>